
@{
    ViewBag.Title = "Downloads";
}


<!-- END nav -->
<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/logo.png'); background-size: contain">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs mb-2"><span class="mr-2"><a href="/Home/">Home <i class="fa fa-chevron-right"></i></a></span> <span>Downloads <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Downloads</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb bg-light" style="margin-top:50px; margin-bottom:50px;">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-12">
                <div class="row justify-content-start">
                    <div class="col-md-12 heading-section ftco-animate">
                        <h6 class="mb-4"><strong> Download the form for the errand you want to pass on to us below, fill it in then return it to us. We already know what to do with it.</strong></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2 pl-md-5">
            </div>
            <div class="col-md-10 pl-md-5">
                <div class="row justify-content-start py-5">
                    <div class="col-md-12 heading-section ftco-animate">


                        <ul class="list-unstyled" style="font-size: 17px">
                            <li><a href="/doc/ErrandsCall Consent Form.pdf" target="_blank"><img src="/images/icons/pdf icon.jfif" width="50" height="60"><span> ErrandsCall Consent Form </span></a></li>
                            <li><a href="/doc/DECLARATION LETTER.pdf" target="_blank"><img src="/images/icons/pdf icon.jfif" width="50" height="60"><span> Declaration Letter </span></a></li>
                            <li><a href="/doc/Application for licencing of motor vehicle (Form ALV).pdf" target="_blank"><img src="/images/icons/pdf icon.jfif" width="50" height="60"><span> Application for licencing of motor vehicle (Form ALV) </span></a></li>
                            <li><a href="/doc/Notification of change of address or particulars of person or organisation (Form NCP).pdf" target="_blank"><img src="/images/icons/pdf icon.jfif" width="50" height="60"><span> Notification of change of address or particulars of person or organisation (Form NCP) </span></a></li>
                            <li><a href="/doc/Application for temporary, special permit (Form TSP1).pdf" target="_blank"><img src="/images/icons/pdf icon.jfif" width="50" height="60"><span> Application for temporary, special permit (Form TSP1) </span></a></li>
                            <li><a href="/doc/Application for deregistration of vehicle (Form ADV).pdf" target="_blank"><img src="/images/icons/pdf icon.jfif" width="50" height="60"><span> Application for deregistration of vehicle (Form ADV) </span></a></li>
                            <li><a href="/doc/Application for driving licence (Form DL1).pdf" target="_blank"><img src="/images/icons/pdf icon.jfif" width="50" height="60"><span> Application for driving licence (Form DL1) </span></a></li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row justify-content-start">
                    <div class="col-md-12 heading-section ftco-animate">
                        <h6 class="mb-4"><strong> If you did not find the form you are looking for on this page, <b><a href="contact.html">CONTACT US </a></b> and we will help.</strong></h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



