
@using Errandscall.Models
@model LoginDetails

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Forgot Password";
}

<style>
    .left {
        width: 200px;
        float: left;
        height: 100%;
    }

    .right {
        margin-left: 210px;
    }
</style>

<div class="page-wrapper p-t-30 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">

            <div class="card-body">
                <div class="">
                    <img src="~/Content/Images/logo.png" style="height:150px; width:100%" />
                </div>
                <h2 class="title" align="center">Forgot Password</h2>
                <hr />
                <br />
                @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">How you would like to receive OTP? </label>
                              
                                <div class="p-t-10">
                                    <br />
                                    <br />
                                    <label class="radio-container m-r-45">
                                        Email
                                        <input type="radio" name="Otp" value="EmailAddress">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container">
                                        SMS
                                        <input type="radio" name="Otp" value="CellphoneNumber">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space OtpOption" id="EmailAddress">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">E-mail Address *</label>
                                <input class="input--style-4" type="email" id="OptEmailAddress" name="EmailAddress">
                                <p>E-mail Address is required for OTP verification.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space OtpOption" id="CellphoneNumber">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">Cellphone Number</label>
                                <input class="input--style-4" type="text" id="OptCellphoneNumber" name="Cellphoner">
                                <p>Cellphone number is required for OTP verification.</p>
                            </div>
                        </div>
                    </div>

                    <div class="p-t-15">
                        <button class="btn btn--radius btn--green" type="submit">Submit</button>
                        <span class="psw label">Remember Password <a href="/Login/Index" class="modal-link"> Login?</a></span>
                    </div>
                }

            </div>
        </div>
    </div>
</div>



<script>
</script>