@{
    ViewBag.Title = "Home";
}

<div class="hero-wrap">
    <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image:url(/images/logo.png);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-start">
                    <div class="col-md-6 ftco-animate">
                        <div class="text w-100">
                            <h1>Errandscall</h1>
                            <p class="mb-4">We are a Registered Traffic Department Agency with Professional Advisors who manage your Vehicle Licensing and Registrations inquiries on your behalf </p>
                            <p><a href="Contact" class="btn btn-primary">Contact Us</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 ftco-animate">
                        <div class="text w-100">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="slider-item" style="background-image:url(images/Licence_1.jpg);"> -->
        <!-- <div class="overlay"></div> -->
        <!-- <div class="container"> -->
        <!-- <div class="row no-gutters slider-text align-items-center justify-content-start"> -->
        <!-- <div class="col-md-6 ftco-animate"> -->
        <!-- <div class="text w-100"> -->
        <!-- <h2>Change of Ownership</h2> -->
        <!-- <h1 class="mb-4">We register and license vehicle in the buyer's name.</h1> -->
        <!-- <p><a href="contact.html" class="btn btn-primary">Contact Us</a></p> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
    </div>
</div>

<section class="intro">
    <div class="container intro-wrap">
        <div class="row no-gutters">
            <div class="col-md-12 col-lg-9 bg-intro d-sm-flex align-items-center align-items-stretch">
                <div class="intro-box d-flex align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <i class="flaticon-car"></i>
                    </div>
                    <h2 class="mb-0">No More <span>Queuing!</span></h2>
                </div>
                <a href="http://intranet.errandscall.co.za/Login/Register" class="bg-primary btn-custom d-flex align-items-center"><span>Register</span></a>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <div class="container">
        <!--heading---------------->
        <div class="s-heading">
            <h1> Our <span> Services </span></h1>
            <p>We have Professional Advisors eager to service all your enquiries and deliver excellent service.</p>
        </div>
        <!--services-box-container------------------->
        <div class="s-box-container">
            <!--service-box-1---------------->
            <div class="s-box col-md-3">
                <!--top-bar-------->
                <div class="bar"></div>
                <!--servies-name---------->
                <h1>License Disc Renewals</h1>
                <!--btn---------->
                <a class="s-btn" href="/Service/">More</a>
                <a class="s-btn" href="http://intranet.errandscall.co.za/">Login</a>
            </div>
            <!--service-box-1---------------->
            <div class="s-box col-md-3">
                <!--top-bar-------->
                <div class="bar"></div>
                <!--servies-name---------->
                <h1>Vehicle Registrations</h1>
                <!--btn---------->
                <a class="s-btn" href="/Service/">More</a>
                <a class="s-btn" href="http://intranet.errandscall.co.za/">Login</a>
            </div>
            <!--service-box-3---------------->
            <div class="s-box col-md-3">
                <!--top-bar-------->
                <div class="bar"></div>
                <!--servies-name---------->
                <h1>Change of vehicle Ownership</h1>
                <!--btn---------->
                <a class="s-btn" href="/Service/">More</a>
                <a class="s-btn" href="http://intranet.errandscall.co.za/">Login</a>
            </div>
            <!--service-box-3---------------->
            <div class="s-box col-md-3">
                <!--top-bar-------->
                <div class="bar"></div>
                <!--servies-name---------->
                <h1>Learner’s | Driver’s License | PDP Bookings</h1>
                <!--btn---------->
                <a class="s-btn" href="/Service/">More</a>
                <a class="s-btn" href="http://intranet.errandscall.co.za/">Login</a>
            </div>
        </div>
        <!--services-box-container------------------->
        <div class="s-box-container">
            <!--service-box-3---------------->
            <div class="s-box col-md-3">
                <!--top-bar-------->
                <div class="bar"></div>
                <!--servies-name---------->
                <h1>Vehicle De-registration / Stolen / Scrap</h1>
                <!--btn---------->
                <a class="s-btn" href="/Service/">More</a>
                <a class="s-btn" href="http://intranet.errandscall.co.za/">Login</a>
            </div>
            <!--service-box-3---------------->
            <div class="s-box col-md-3">
                <!--top-bar-------->
                <div class="bar"></div>
                <!--servies-name---------->
                <h1>Online Drivers License Renewal Booking</h1>
                <!--btn---------->
                <a class="s-btn" href="/Service/">More</a>
                <a class="s-btn" href="http://intranet.errandscall.co.za/">Login</a>
            </div>
            <!--service-box-3---------------->
            <div class="s-box col-md-3">
                <!--top-bar-------->
                <div class="bar"></div>
                <!--servies-name---------->
                <h1>Roadworthy</h1>
                <!--btn---------->
                <a class="s-btn" href="/Service/">More</a>
                <a class="s-btn" href="http://intranet.errandscall.co.za/">Login</a>
            </div>
        </div>

    </div>

</section>

